body {
  background-color: #7a98cc;
  font-family: sans-serif;
  text-align: center;
}

.menu {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  text-align: left;
}

h1.menu {
  text-align: center;
}